*.ac
*.am
*.o
*.in~
*.c~
*.h~
.deps
*.a
*.so
build_test_1.sh
build_test_2.sh
logfile.out
/.build/
/Run.sh
/config.h
/Makefile
/config.log
/config.lt
/config.cache
/config.status
/config.status.lineno
/configure.lineno
/configure.scan
/gmon.out
/stamp-h1
/stamp-it
