<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="RevizorUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <RevizorUI.Properties.Settings>
            <setting name="setLogFile" serializeAs="String">
                <value>Revizor.log</value>
            </setting>
            <setting name="setInputFile" serializeAs="String">
                <value />
            </setting>
            <setting name="setSaveFile" serializeAs="String">
                <value />
            </setting>
            <setting name="setIpTftpServer" serializeAs="String">
                <value>192.168.220.66</value>
            </setting>
            <setting name="setUrlListEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setSaveDefaultName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setDeleteSourceEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setTftpRetryMinutes" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="setTftpRetryMaxCount" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="setAggregateNet" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="setAggregateNet0" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setAggregateNet24" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setAggregateNet16" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setAggregateNet8" serializeAs="String">
                <value>False</value>
            </setting>
        </RevizorUI.Properties.Settings>
    </userSettings>
</configuration>
