*.ac
*.am
*.o
*.in~
*.c~
*.h~
.deps
*.a
*.so
build_test_1.sh
build_test_2.sh
build_test_3.sh
build_test_4.sh
cnf2md.sh
/base/dump/
/base/*.stat
/base/*.fw
/base/*.gz
/base/*.zip
/base/*.sh
/base/*.complete
/base/*.date
/doc/roskom-reestr/
/tools/cnf2md.sh
logfile.out
/.build/
/Run.sh
/config.h
/Makefile
/config.log
/config.lt
/config.cache
/config.status
/config.status.lineno
/configure.lineno
/configure.scan
/gmon.out
/stamp-h1
/stamp-it
/TAGS
/_admin/
/aclocal.m4
/autom4te.cache
/autom4te.cache/
/autoscan.log
/config.cache
/config.h
/config.h.in~
/config.log
/config.lt
/config.status
/config.status.lineno
/configure
/configure.ac
/configure.autoinstall
/configure.lineno
/configure.scan
/gmon.out
/libtool
/so_locations
/stamp-h1
/stamp-it
/tags
